@page
@model PROJET.Pages.Categories_sociopros.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Categorie_sociopro</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categorie_sociopro.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categorie_sociopro.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Categorie_sociopro.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
